<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oracle_Launcher.Properties.Settings>
            <setting name="WindowSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLauncherWithComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLauncherMinimizedToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseButtonSettingId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayButtonSettingId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value />
            </setting>
        </Oracle_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Oracle_Launcher.Properties.Settings>
            <setting name="XMLDocumentUrl" serializeAs="String">
                <value>http://localhost/launcher/Config.xml</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Your Server Name</value>
            </setting>
            <setting name="ClientPathsDefault" serializeAs="Xml">
                <value>
                    <ClientPaths>
                        <Expansion id="1" update_version="0" />
                        <Expansion id="2" update_version="0" />
                        <Expansion id="3" update_version="0" />
                        <Expansion id="4" update_version="0" />
                        <Expansion id="5" update_version="0" />
                        <Expansion id="6" update_version="0" />
                        <Expansion id="7" update_version="0" />
                        <Expansion id="8" update_version="0" />
                        <Expansion id="9" update_version="0" />
                    </ClientPaths>
                </value>
            </setting>
        </Oracle_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>