/Oracle/Oracle Launcher/obj
/Oracle/Oracle Launcher/bin
/Oracle/Oracle Login/obj
/Oracle/Oracle Login/bin
/Oracle/bin
/Oracle/AuthHandler/bin
/Oracle/CharHandler/bin
/Oracle/CharHandler/obj
/Oracle/AuthHandler/obj
/Oracle/WebHandler/obj
/Oracle/WebHandler/bin
/Oracle/Oracle Updater/obj
/Oracle/Oracle Updater/bin
/Oracle/Oracle Launcher Setup/Debug
/Oracle/Oracle Launcher Setup/Release
/Oracle/.vs
