<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oracle_Login.Properties.Settings>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
        </Oracle_Login.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Oracle_Login.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>Your Server Name</value>
            </setting>
            <setting name="RegisterAccountUrl" serializeAs="String">
                <value>http://localhost/register</value>
            </setting>
            <setting name="ResetPasswordUrl" serializeAs="String">
                <value>http://localhost/reset</value>
            </setting>
        </Oracle_Login.Properties.Settings>
    </applicationSettings>
</configuration>